.home-box {
  display: grid;
  row-gap: 20px;
  margin-bottom: 5em;
  margin-top: 5em;
  width: 100%;
}

.row {
  text-align: center;
}

.col {
  border: 3px solid #3b6064;
  border-radius: 10px;
  background: #87bba2;
}
