a.navbar-brand {
  white-space: normal;
  font-family: "Yellowtail", cursive;
  font-size: xx-large;
  text-align: center;
  word-break: break-all;
}

.navbar-nav {
  font-size: large;
}

.navbar-light .navbar-brand {
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
