.container {
    border: 1px solid #ff0000;
    text-align: center;
}

.row {
    border: 1px solid #4cff00;
    text-align: center;
}

.col {
    border: 5px solid #b200ff;
    text-align: center;
}


